{% with messages=get_flashed_messages() %}
    {% if messages %}
        <script>
            alert('{{ messages[-1] }}')
        </script>
    {% endif %}
{% endwith %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.4.6.min.css') }}">
    <title>{% block  title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="padding-bottom: 0px">
        <a class="navbar-brand" style="font-size: 25px;font-weight: bold;"}>知卡知热</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href={{ url_for('shouye')}}>首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-2">
                    <form class="form-inline my-2 my-lg-0" method="POST" action="http://127.0.0.1:5000/search">
                        <input class="form-control mr-sm-2" type="search" placeholder="查食品" aria-label="Search"
                               name="content">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user %}
                    <li class="nav-item">
                        <span class="nav-link" style="font-weight: bold;">{{ user.zhanghao }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('document.document')}}>记录页面</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('user.logout')}}>退出登录</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('user.login')}}>登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('user.register')}}>注册</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>