{% extends "base.html" %}

{% block title %}shouye{% endblock %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core_v2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/food_v2.css') }}">
    <style>
        .main_image {
            position: relative;
        }

        .main_image_text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
            font-weight: bold;
            font-family: 'PingFang SC', 'Microsoft YaHei';
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
<div class="main_image">
    <img alt="薄荷" src="http://up.boohee.cn/house/u/site/pc/index/food-database-bg.png" width="100%">
    <h1 class="main_image_text">天天有营养，人人享健康</h1>
</div>
<div class="widget-food-category">
    <div class="container">
        <div class="widget-page-title">
            <h2 align="center">常见食物分类</h2>
        </div>
        <ul class="row">
            <form action="http://127.0.0.1:5000/index1" method="post">
                <li class="col-md-4 col-sm-4 col-xs-12 item">
                    <div class="img-box"><button type="submit" name="text" value="主食" style="border:0;outline:none;background-color: transparent;"><img
                            src="http://s.boohee.cn/images/food/category/1.png"></button></div>
                    <div class="text-box">
                        <h3><a  style="color: black;"><button type="submit" name="text" value="主食" style="border:0;outline:none;background-color: transparent;">主食</button></a></h3>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12 item">
                    <div class="img-box"><button type="submit" name="text" value="肉类蛋类及制品" style="border:0;outline:none;background-color: transparent;"><img
                            src="http://s.boohee.cn/images/food/category/2.png"></button></div>
                    <div class="text-box">
                        <h3><a  style="color: black;"><button type="submit" name="text" value="肉类蛋类及制品" style="border:0;outline:none;background-color: transparent;">蛋类、肉类及制品</button></a></h3>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12 item">
                    <div class="img-box"><button type="submit" name="text" value="坚果豆类奶类" style="border:0;outline:none;background-color: transparent;"><img
                            src="http://s.boohee.cn/images/food/category/3.png"></button></div>
                    <div class="text-box">
                        <h3><a  style="color: black;"><button type="submit" name="text" value="坚果豆类奶类" style="border:0;outline:none;background-color: transparent;">坚果豆类奶类</button></a></h3>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12 item">
                    <div class="img-box"><button type="submit" name="text" value="水果" style="border:0;outline:none;background-color: transparent;"><img
                            src="http://s.boohee.cn/images/food/category/4.png"></button></div>
                    <div class="text-box">
                        <h3><a style="color: black;"><button type="submit" name="text" value="水果" style="border:0;outline:none;background-color: transparent;">水果</button></a></h3>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12 item">
                    <div class="img-box"><button type="submit" name="text" value="蔬菜及菌藻" style="border:0;outline:none;background-color: transparent;"><img
                            src="http://s.boohee.cn/images/food/category/5.png"></button></div>
                    <div class="text-box">
                        <h3><a  style="color: black;"><button type="submit" name="text" value="蔬菜及菌藻" style="border:0;outline:none;background-color: transparent;">蔬菜及菌藻</button></a></h3>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12 item">
                    <div class="img-box"><button type="submit" name="text" value="调味品" style="border:0;outline:none;background-color: transparent;"><img
                            src="http://s.boohee.cn/images/food/category/6.png"></button></div>
                    <div class="text-box">
                        <h3><a  style="color: black;"><button type="submit" name="text" value="调味品" style="border:0;outline:none;background-color: transparent;">调味品</button></a></h3>
                    </div>
                </li>
                <li class="col-md-4 col-sm-4 col-xs-12 item">
                    <div class="img-box"><button type="submit" name="text" value="零食饮料" style="border:0;outline:none;background-color: transparent;"><img
                            src="http://s.boohee.cn/images/food/category/7.png"></button></div>
                    <div class="text-box">
                        <h3><a  style="color: black;"><button type="submit" name="text" value="零食饮料" style="border:0;outline:none;background-color: transparent;">零食饮料</button></a></h3>
                    </div>
                </li>
            </form>>
        </ul>
    </div>
</div>
{% endblock %}
{#原本檢索框#}
{#<div class="box">#}
{#    <input type="text" class="input" placeholder="知卡知热食物热量库，吃前查一查，饮食更健康">#}
{#    <a href="#" class="hide-text text-center clean-link left table btn-search">#}
{#        <input type="button" value="搜索" class="button">#}
{#    </a>#}
{#</div>#}

{#<style>#}
{#    .box {#}
{#        width: 500px;#}
{#        height: 40px;#}
{#        border: 2px solid rgb(73, 103, 73);#}
{#        margin: auto;#}
{#    }#}
{##}
{#    .input {#}
{#        float: left;#}
{#        width: 400px;#}
{#        height: 38px;#}
{#        outline: none;#}
{#        border: none;#}
{#    }#}
{##}
{#    .button {#}
{#        float: left;#}
{#        width: 96px;#}
{#        height: 40px;#}
{#        color: white;#}
{#        background-color: rgb(73, 103, 73);#}
{#        border: none;#}
{#        outline: none;#}
{#    }#}
{#</style>#}
{##}


{#<div id="footer">#}
{#</div>#}
{#<div id="ext">#}
{##}
{##}
{#</div>#}
{#<script enablehash="true"#}
{#        src="https://www.boohee.com/javascripts/core_v2_844676abe8d02848ba970b6eec6e00e8.js?1684907650"#}
{#        type="text/javascript"></script>#}
{##}
{#<script src="https://www.boohee.com/javascripts/food_v2_packaged.js?1684907650" type="text/javascript"></script>#}
{#<script type="text/javascript">#}
{#    ;(function ($) {#}
{#        $("#keyword").placeholder();#}
{#    })(jQuery)#}
{##}
{#    $(document).ready(function () {#}
{#        $('.btn-search').click(function () {#}
{#            var data = $('#search-ipt').val();#}
{#            window.location.href = "/food/search?keyword=" + data;#}
{#        })#}
{##}
{#        var $frmSearchFood = $('.food-database-section');#}
{#        $frmSearchFood.submit(e => {#}
{#            e.preventDefault();#}
{#            $('.btn-search').click();#}
{#            // 取值、处理、验证、发送请求等从这里开展...#}
{#        });#}
{#    })#}
{#</script>#}
{##}
{##}
{#<footer class="row">#}
{#    <div class="padding-box footer">#}
{#        <div>#}
{#            <p class="text-center" align="center">#}
{#                联系我们：请提出您的宝贵意见！#}
{#            </p>#}
{##}
{#            <p class="text-center" align="center">#}
{#                邮箱：123456@163.com#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
{##}
{##}
{#</div>#}